@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 20px;
    background-color: rgb(105, 0, 165);
}

.container{
    text-align: center;
    background-color: white;
    padding: 50px 30px;
    border-radius: 5px;
    max-width: 100%;
    width: 800px;
    box-shadow: 4px 8px 15px 5px #00000085
}
h3{
    font-size: 14px;
    color: gray;
    margin: 0;
}
.joke{
    font-size: 30px;
    line-height: 40px;
    max-width: 600px;
    margin: 50px auto;
}
.btn{
    color: white;
    padding: 14px 40px;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px #00000085;
    background-color: rgb(105, 0, 165);
    cursor: pointer;
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}